<p id="notice"><%= notice %></p>

<p>
  <strong>Messenger img url:</strong>
  <%= @messenger.messenger_img_url %>
</p>

<%= link_to 'Edit', edit_messenger_path(@messenger) %> |
<%= link_to 'Back', messengers_path %>
